.confirmation-email {
  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--violet);
  border-bottom-right-radius: 1rem;
  padding-right: 0.75rem;
  padding-left: 4rem;
  position: relative;
}
.bus {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.bus-thumbnail {
  width: 4rem;
  position: absolute;
  top: -1.75rem;
  left: -0.5rem;
}

@media (max-width: 534px) and (orientation: portrait) {
  .confirmation-email {
    position: unset;
    flex-direction: column;
    border-bottom: unset;
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .title {
    text-align: center;
  }

  .bus-thumbnail {
    position: unset;
    order: 1;
  }
}
