.image {
  width: 14rem;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.image.larger {
  width: 22rem;
}

.image.slide-in-left {
  position: relative;
  display: inline-block;
  animation: slideInLeft 0.8s forwards;
}

.image.slide-in-right {
  position: relative;
  display: inline-block;
  animation: slideInRight 0.8s forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-1rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(1rem);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 1920px) {
  .image {
    /* height: calc(100vh - 469.6px); */
  }
}

@media (max-width: 932px) {
  .image {
    /* height: calc(100vh - 10.2rem); */
  }
}
