.bag {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.left-container {
  width: 60%;
}

.delivery {
  display: flex;
  gap: 6px;
  align-items: center;
}

.delivery-span {
  font-size: var(--normal);
  color: var(--medium-gray);
}

.bag-items {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 32px -12px,
      rgba(0, 0, 0, 0.3) 0px 6px 12px -18px;
  }

.right-container {
  width: 40%;
}
