.bag {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.left-container {
  width: 60%;
}

.delivery {
  display: flex;
  gap: 6px;
  align-items: center;
}

.delivery-span {
  font-size: var(--normal);
  color: var(--medium-gray);
}

.right-container {
  width: 40%;
}
