#collection-list {
  background-color: var(--very-light-gray);
  padding: 2rem;
  height: calc(100vh - 9.6rem);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

@media (max-width: 1400px) {
  #collection-list {
    height: auto;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1040px) {
  #collection-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 680px) {
  #collection-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
