.wrapped-form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
}

.column-form {
  display: flex;
  flex-direction: column;
}

.custom-placeholder::placeholder {
  color: var(--pink);
  opacity: 1;
}

.button {
  display: flex;
  width: 100%;
}
