#account {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: calc(100vh - 9.6rem);
  /* background-image: linear-gradient(
    to right,
    var(--light-pink),
    var(--very-light-pink),
    var(--white),
    var(--white),
    var(--very-light-gray),
    var(--light-gray)
  ); */
  background-image: linear-gradient(
    to right,
    var(--very-light-pink),
    var(--very-light-gray)
  );
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 1280px) {
  #account {
    margin-bottom: 2rem;
    height: 100%;
  }

  .flex-container {
    gap: auto;
  }
}

@media (orientation: portrait) and (max-width: 1280px) {
  #account {
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
  }
}

@media (orientation: landscape) and (max-width: 1280px) {
  #account {
    height: 100%;
  }
}
