.account {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
  gap: 2rem;
  animation: transitioning 1.6s forwards;
  min-height: calc(100vh - 14rem);
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
