.normal-title-regular,
.normal-title-bolded {
  display: inline;
  font-size: var(--normal);
  color: var(--gray);
  text-decoration: none;
}

.normal-title-bolded {
  font-family: var(--bold-font-family);
}
