.delivery {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  justify-content: space-between;
}

.icon {
  color: var(--pink);
  font-size: var(--medium);
  margin-bottom: 2rem;
}
