.button {
  border: none;
  overflow: hidden;
  color: var(--white);
  outline: none;
}

.button.pink,
.button.gray,
.button.animated {
  cursor: pointer;
  font-size: var(--medium);
  font-family: var(--bold-italic-font-family);
  padding: 12px;
  width: 100%;
  justify-content: center;
  display: flex;
}

.button.pink,
.button.gray {
  transition: background-color 300ms linear, color 300ms;
}

.button.pink {
  background: var(--medium-pink);
}

.button.pink:hover {
  background: var(--pink);
}

.button.pink.disabled {
  cursor: not-allowed;
  background: var(--light-gray);
}

.button.gray {
  background: var(--medium-gray);
}

.button.gray:hover {
  background: var(--gray);
}

.button.animated {
  position: relative;
  border: 1px solid var(--light-gray);
  background: var(--white);
  color: var(--medium-gray);
  width: 30%;
}

.button.animated:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 1px;
  bottom: 0;
  left: 50%;
  background-color: var(--light-gray);
  transition: width 0.3s ease, left 0.3s ease;
}

.button.animated:hover::before {
  width: 100%;
  left: 0;
}

.button.underlined {
  background-color: var(--white);
  text-decoration: underline;
  font-size: var(--normal);
  color: var(--gray);
  padding: 0px;
  min-width: 60px;
}

.button.underlined:hover {
  font-family: var(--bold-font-family);
}
