.button {
  padding: 12px;
  font-size: var(--medium);
  font-family: var(--bold-italic-font-family);
  border: none;
  overflow: hidden;
  color: var(--white);
  outline: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

.button.pink {
  background: var(--medium-pink);
  transition: background-color 300ms linear, color 300ms;
}

.button.gray {
  background: var(--medium-gray);
  transition: background-color 300ms linear, color 300ms;
}

.button.pink,
.button.gray {
  cursor: pointer;
}

.button.pink:hover {
  background: var(--pink);
}

.button.gray:hover {
  background: var(--gray);
}

.button.pink.disabled {
  cursor: not-allowed;
  background: var(--light-gray);
}
