.wrapper {
  display: none;
}

.icon {
  vertical-align: bottom;
  color: var(--medium-gray);
  height: 1.25rem;
}

.content {
  position: absolute;
  bottom: -2rem;
  left: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 32px -12px,
    rgba(0, 0, 0, 0.3) 0px 6px 12px -18px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  z-index: 100;
  background-color: var(--white);
  width: fit-content;
}

@media (max-width: 499px) {
  .wrapper {
    position: relative;
    display: flex;
  }
}

/* @media (orientation: portrait) and (max-width: 774px) {
  .wrapper {
    display: none;
  }
}

@media (orientation: portrait) and (max-width: 695px) {
  .wrapper {
    position: relative;
    display: flex;
  }
}

@media (orientation: portrait) and (max-width: 675px) {
  .wrapper {
    display: none;
  }
}

@media (orientation: portrait) and (max-width: 573px) {
  .wrapper {
    position: relative;
    display: flex;
  }
} */
