#order-confirmation,
.wrapper,
.info,
.link-to-account {
  display: flex;
}

.wrapper,
.info {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#order-confirmation {
  margin: 2rem;
  justify-content: space-evenly;
  opacity: 0;
  animation: transitioning 1.6s forwards;
  height: calc(100vh - 13.6rem);
  flex-wrap: wrap;
}

.info {
  gap: 0.75rem;
}

.link-to-account {
  gap: 0.25rem;
}

.link {
  color: var(--violet);
  text-decoration: none;
  font-size: var(--normal);
  font-family: var(--bold-font-family);
}

.link:hover {
  color: var(--dark-violet);
}

.image {
  width: 32%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 360px) and (max-width: 803px) {
  .order-confirmation {
    margin: 1rem;
    justify-content: center;
    align-items: center;
  }

  .info {
    gap: 1rem;
  }

  .image {
    width: 100%;
    margin-top: 2rem;
  }

  .wrapper {
    width: 100%;
  }

  .link-to-account {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
