#order-confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  height: calc(100vh - 9.6rem);
}

.relative-container {
  position: relative;
}

.thumbnail {
  width: 8rem;
  position: absolute;
  top: -4.1rem;
  left: -4rem;
  z-index: 100;
}

.butterfly,
.bus {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.bus-thumbnail {
  width: 10rem;
}

@media (max-width: 540px) {
  #order-confirmation {
    margin: 4rem 2rem 0 2rem;
    height: auto;
  }
}
