.order-confirmation {
  margin: 2rem;
  display: flex;
  justify-content: space-evenly;
  opacity: 0;
  animation: transitioning 1.6s forwards;
  height: calc(100vh - 13.6rem);
  flex-wrap: wrap;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.link-to-account {
  display: flex;
  gap: 6px;
}

.link {
  color: var(--violet);
  text-decoration: none;
  font-size: var(--normal);
  font-family: var(--bold-font-family);
}

.link:hover {
  color: var(--dark-violet);
}

.image {
  width: 36%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .order-confirmation {
    margin: 1rem;
    justify-content: center;
  }

  .info {
    gap: 1rem;
  }

  .image {
    width: 100%;
    margin-top: 2rem;
  }
}
