.error-message {
  font-size: var(--small);
  color: var(--red);
  padding-top: 0.25rem;
  margin: 0px;
  padding-bottom: 0px;
  text-align: left;
  position: relative;
}

@media (max-width: 386px) {
  .error-message {
    font-size: 0.75rem;
  }
}

@media (max-width: 366px) {
  .error-message {
    font-size: 0.625rem;
  }
}
