.error-message {
  font-size: 13px;
  color: var(--red);
  padding-top: 4px;
  margin: 0px;
  padding-bottom: 0px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 640px) {
  .error-message {
    font-size: 10px;
  }
}
