.title {
  text-decoration: none;
  font-size: var(--large);
  font-family: var(--bold-italic-font-family);
  color: var(--gray);
}

.title.align-left {
  text-align: left;
}

.title.align-center {
  text-align: center;
  margin-bottom: 2rem;
}
