.title {
  text-decoration: none;
  font-size: var(--large);
  font-family: var(--bold-italic-font-family);
  color: var(--gray);
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 4px;
}

.title.align-left {
  text-align: left;
}

.title.align-center {
  text-align: center;
}
