.title {
  text-decoration: none;
  font-size: var(--large);
  font-family: var(--bold-italic-font-family);
  display: flex;
  align-items: center;
  gap: 4px;
  z-index: 10;
  margin-bottom: 1.75rem;
  animation: transitioning 1s forwards;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title.align-left {
  text-align: left;
}

.title.align-center {
  justify-content: center;
  text-align: center;
}
