.animated-button {
  position: relative;
  padding: 16px 64px;
  font-size: var(--medium-font-size);
  border: none;
  cursor: pointer;
  overflow: hidden;
  background: none;
  background: var(--white);
  color: var(--medium-gray);
  border: 1px solid var(--light-gray);
  font-family: var(--bold-italic-font-family);
  outline: none;
}

.animated-button::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 1px;
  bottom: 0;
  left: 50%;
  background-color: var(--light-gray);
  transition: width 0.3s ease, left 0.3s ease;
}

.animated-button:hover::before {
  width: 100%;
  left: 0;
}
