.horizontal-line,
.horizontal-line-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-line-header {
  position: absolute;
  top: 6.9rem;
  width: 100%;
}

.hr-line.small,
.hr-line.large {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 0 0.2px var(--pink);
  border-top: 0px;
  border-bottom: 0px;
}

.hr-line.small {
  width: 25%;
}

.hr-line.large {
  width: 100%;
}

.line-img {
  width: 1.5rem;
  vertical-align: middle;
  margin: 0px 0.125rem;
}

@media (max-width: 1280px) {
  .horizontal-line-header {
    top: 4.06rem;
  }

  .line-img {
    width: 20px;
    vertical-align: middle;
    margin: 0px 0.1px;
  }
}
