.collection-item {
  background-color: var(--very-light-gray);
  display: flex;
  justify-content: center;
  height: calc(100vh - 9.6rem);
  padding: 2rem;
  gap: 2rem;
  width: 100vw;
}

.info-and-action,
.images {
  width: calc(50% - 1rem);
  background-color: var(--white);
  border-radius: 2rem;
  padding: 1.5rem;
}

.info-and-action {
  padding-top: 1.75rem;
}

.images {
  cursor: pointer;
  position: relative;
}

@media (max-width: 1024px) {
  .collection-item {
    flex-wrap: wrap;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .images {
    width: 100%;
  }

  .info-and-action {
    width: 100%;
  }
}

@media (max-width: 675px) {
  .collection-item {
    min-height: calc(100vh - 6.6rem);
  }
}
