.collection-item {
  background-color: var(--very-light-gray);
  gap: 2rem;
  padding: 2rem;
  min-height: calc(100vh - 14rem);
}

.collection-item {
  height: calc(100vh - 10rem);
}

.collection-item {
  display: flex;
}

.collection-item {
  justify-content: center;
}
