.collection-item {
  background-color: var(--very-light-gray);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: calc(100vh - 9.6rem);
  padding: 2rem;
  gap: 2rem;
  width: 100vw;
}

@media (max-width: 675px) {
  .collection-item {
    min-height: calc(100vh - 6.6rem);
  }
}
