.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.nav-item {
  text-decoration: none;
  color: var(--medium-gray);
  font-size: var(--normal);
}

.nav-item:hover {
  color: var(--gray);
}

.icon {
  color: var(--light-gray);
  font-size: 4px;
}
