

.selected {
  background-color: var(--light-pink) !important;
}

.size-form {
  display: flex;
  flex-direction: column;
}

.size-wrapper {
  display: flex;
  flex-direction: column;
  height: 100px;
}



.add-margin {
  margin-bottom: 10px;
}
