.mini-bag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.no-decoration {
  text-decoration: none;
}

.total-price-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 20px;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}
