.description {
  position: absolute;
  top: 4rem;
  left: 2rem;
}

.description-wrapper {
  position: relative;
  width: 32%;
}

.outer-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--white);
  font-family: var(--bold-italic-font-family);
}

.inner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

@media (orientation: portrait) and (max-width: 1280px) {
  .description {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
  }

  .description-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (orientation: landscape) and (max-width: 932px) {
  .description {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .description-wrapper {
    width: 100%;
  }
}

@media (orientation: landscape) and (max-width: 844px) {
  .description {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
  }

  .description-wrapper {
    width: 100%;
  }
}

@media (orientation: landscape) and (max-width: 740px) {
  .description {
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
  }

  .description-wrapper {
    width: 100%;
  }

  .button {
    display: none;
  }
}

