.large-images {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

.large-images.transitioning {
  animation: transitioning 14s forwards;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

