.large-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  animation: transitioning 1s forwards;
}


.image-container {
  display: flex;
  justify-content: center;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
