.large-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 18rem;
  height: 24rem;
}

.image-container {
  display: flex;
  justify-content: center;
}

.large-images.transitioning {
  animation: transitioning 14s forwards;
}

.heart-icon {
  color: var(--pink);
  height: 1.25rem;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

