.info-and-action-container {
  width: calc(50% - 1rem);
  background-color: var(--white);
  padding: 1.5rem;
  position: relative;
  border-radius: 2rem;
}

.outer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.content {
  justify-content: space-between;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
}

.wrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-grow: 1;
}

.outer-wrapper.transitioning {
  animation: transitioning 10s forwards;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (orientation: landscape) and (max-width: 1280px) {
  .info-and-action-container {
    height: 50%;
  }
}

@media (orientation: portrait) and (max-width: 1280px) {
  .info-and-action-container {
    width: 100%;
  }
}
