.outer-wrapper,
.wrapper {
  display: flex;
  flex-direction: column;
}

.outer-wrapper {
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
  animation: transitioning 1s forwards;
}

.wrapper {
  gap: 2rem;
}

.top-wrapper {
  display: flex;
  justify-content: space-between;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 453px) {
  .top-wrapper {
    flex-direction: column;
    justify-content: unset;
    gap: 1rem;
    flex-direction: column-reverse;
  }
}
