.outer-wrapper,
.wrapper {
  display: flex;
  flex-direction: column;
}

.outer-wrapper {
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
}

.wrapper {
  gap: 1rem;
}

.outer-wrapper.transitioning {
  animation: transitioning 14s forwards;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
