.images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  width: 40%;
  
}

.image {
  display: none;
}

@media (max-width: 1030px) {
  .images {
    /* flex-direction: row;
    width: 100%;
    height: 50%; */
    display: none;
  }

  .image {
    display: block;
  }
}
