.card-skeleton {
  border: 0.1px solid var(--light-gray);
  width: 20%;
  height: calc(100vh - 14rem);
  aspect-ratio: 1;
  z-index: 0;
  position: relative;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 2px solid var(--light-gray);
  border-top-color: var(--medium-gray);
  border-radius: 50%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
