.account-management {
  padding: 20px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 0.1px solid var(--pink);
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
