.account-management {
  padding: 20px;
  width: 320px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 0.1px solid var(--pink);
}

.title {
  font-size: var(--large);
  font-family: var(--bold-italic-font-family);
}
.email {
  font-family: var(--bold-font-family);
  font-size: var(--normal);
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
