.button {
  all: unset;
  font-size: var(--medium);
  cursor: pointer;
  padding: 0.75rem 2.25rem;
  justify-content: center;
  display: flex;
  transition: background-color 300ms linear, color 300ms, box-shadow 300ms;
  border-radius: 2rem;
  animation: transitioning 1s forwards;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button.pink,
.button.gray,
.button.white {
  font-family: var(--bold-italic-font-family);
}

.button.pink,
.button.gray {
  width: 100%;
}

.button.pink {
  background: var(--very-light-pink);
  color: var(--pink);
  box-shadow: 0 0 0 1px var(--medium-pink);
}

.button.pink.hovered {
  background: var(--pink);
  color: var(--white);
  box-shadow: 0 0 0 1px var(--pink);
}

.button.gray.disabled {
  cursor: not-allowed;
  background: var(--very-light-gray);
  color: var(--light-gray);
  box-shadow: var(--light-gray);
}

.button.gray {
  background-image: linear-gradient(
    to right,
    var(--light-pink),
    /* var(--light-pink), */
    var(--light-gray)
  );
  color: var(--gray);
  box-shadow: 0 0 0 1px var(--light-gray);
  transition: background-image 300ms ease, color 300ms ease, box-shadow 300ms ease; /* Add transition for smooth animation */
}

.button.gray.hovered {
  background-image: linear-gradient(
    to right,
    var(--medium-pink),
    /* var(--medium-gray), */
    var(--medium-gray)
  );
  color: var(--white);
  box-shadow: 0 0 0 1px var(--white);
}

.button.gray .button-text {
  display: inline-block; /* Ensure the text behaves like an element that can be transformed */
  transition: transform 600ms ease; /* Apply transition for smooth scaling */
}

.button.gray.hovered .button-text {
  transform: scale(1.1); /* Scale the text 10% larger */
}

.button.white {
  background: var(--white);
  color: var(--gray);
  box-shadow: 0 0 0 1px var(--gray);
}

.button.white.hovered {
  background: var(--gray);
  color: var(--white);
  box-shadow: 0 0 0 1px var(--white);
}

.button.underlined {
  text-decoration: underline;
  color: var(--gray);
  font-size: var(--normal);
  padding: 0px;
}

.button.underlined.hovered {
  text-decoration: none;
}

.info {
  color: var(--pink);
  font-size: var(--normal);
  padding: 0px;
  cursor: auto;
}
