.button {
  all: unset;
  font-size: var(--medium);
  cursor: pointer;
  padding: 0.75rem 2.25rem;
  justify-content: center;
  display: flex;
  transition: background-color 300ms linear, color 300ms, box-shadow 300ms;
  border-radius: 2rem;
}

.button.pink,
.button.gray,
.button.white {
  font-family: var(--bold-italic-font-family);
}

.button.pink,
.button.gray {
  width: 100%;
}

.button.pink {
  background: var(--light-pink);
  color: var(--gray);
  box-shadow: 0 0 0 1px var(--light-gray);
}

.button.pink.hovered {
  background: var(--pink);
  color: var(--white);
  box-shadow: 0 0 0 1px var(--white);
}

.button.pink.disabled {
  cursor: not-allowed;
  background: var(--light-gray);
}

.button.gray {
  background: var(--light-gray);
  color: var(--gray);
  box-shadow: 0 0 0 1px var(--light-pink);
}

.button.gray.hovered {
  background: var(--gray);
  color: var(--white);
  box-shadow: 0 0 0 1px var(--white);
}

.button.white {
  background: var(--white);
  color: var(--gray);
  box-shadow: 0 0 0 1px var(--gray);
}

.button.white.hovered {
  background: var(--gray);
  color: var(--white);
  box-shadow: 0 0 0 1px var(--white);
}

.button.underlined {
  background-color: var(--white);
  text-decoration: underline;
  color: var(--medium-gray);
  font-size: var(--normal);
  padding: 0px;
}

.button.underlined.hovered {
  font-family: var(--bold-font-family);
  color: var(--gray);
}

@media (max-width: 1280px) {
  .button {
    padding: 0.5rem 2rem;
  }
}
