.button {
  border: none;
  overflow: hidden;
  color: var(--white);
  outline: none;
}

.button.pink,
.button.gray,
.button.animated {
  cursor: pointer;
  font-size: var(--medium);
  font-family: var(--bold-italic-font-family);
  padding: 1rem;
  width: 100%;
  justify-content: center;
  display: flex;
}

.button.pink,
.button.gray {
  transition: background-color 300ms linear, color 300ms;
}

.button.pink {
  background: var(--medium-pink);
}

.button.pink:hover {
  background: var(--pink);
}

.button.pink.disabled {
  cursor: not-allowed;
  background: var(--light-gray);
}

.button.gray {
  background: var(--medium-gray);
}

.button.gray:hover {
  background: var(--gray);
}

.button.animated {
  position: relative;
  border-radius: 2rem;
  background: var(--white);
  color: var(--medium-gray);
  width: 30%;
  transition: background-color 300ms linear, color 300ms;
}

.button.animated:hover {
  background: var(--gray);
  color: var(--white);
}


.button.underlined {
  background-color: var(--white);
  text-decoration: underline;
  font-size: var(--normal);
  color: var(--gray);
  padding: 0px;
  min-width: 49px;
}

.button.underlined:hover {
  font-family: var(--bold-font-family);
}
