.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.list,
.icon,
.no-decoration {
  color: var(--medium-gray);
}

.list {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: var(--normal);
}

.icon {
  height: 0.2rem;
}

.no-decoration {
  text-decoration: none;
}

.decoration {
  text-decoration: underline;
  text-decoration-color: var(--violet);
  text-underline-offset: 0.125rem;
}
