.title {
  font-size: var(--normal);
  max-width: 50%;
}

.title.regular {
  color: var(--medium-gray);
}

.title.bolded {
  font-family: var(--bold-font-family);
}

@media (max-width: 1280px) {
  .title {
    font-size: var(--medium);
  }
}
