.nav {
  padding-bottom: 6px;
}

.list {
  display: flex;
  gap: 30px;
}

.list-item {
  transition: transform 0.4s ease-in-out;
}

.list-item:hover {
  transform: scale(1.1);
}

.selected,
.not-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.selected {
  text-decoration-color: var(--violet);
  text-underline-offset: 6px;
  color: var(--gray);
}

.not-selected {
  text-decoration: none;
}
