.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  transition: opacity 1s ease, transform 1s ease;
}

.transition-in {
  animation: transitionIn 1s forwards;
}

.transition-out {
  animation: transitionOut 1s forwards;
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transitionOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
