.account {
  display: flex;
  justify-content: space-between;
  margin: 40px 80px 40px 80px;
}

.left-container {
  width: 50%;
}

.left-container-title {
  margin-bottom: 40px;
}

.right-container {
  width: fit-content;
}


.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
