.account {
  display: flex;
  justify-content: center;
  margin: 40px;
  gap: 40px;
}

.title {
  padding: 0px 30px 10px 30px;
  border-bottom: 0.1px solid var(--medium-gray);
}

.left-sub-container,
.right-sub-container {
  border: 0.1px solid var(--pink);
  padding: 25px;
}

.left-container {
  height: calc(100%);
  width: 480px;
}

.left-sub-container {
  max-height: calc(100vh);
  overflow-y: auto;
}

.right-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.right-sub-container {
  width: 410px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
