.icon,
.add-address-book,
.header{
  color: var(--pink);
  height: var(--medium);
  cursor: pointer;
}

.add-address-book {
  background-color: var(--pink);
  color: var(--white);
  padding: 4px 6px;
  border-radius: 32px;
}

.header {
  padding-right: 4px;
}

.disabled {
  height: var(--medium);
  color: var(--light-gray);
  cursor: not-allowed;
}
