.icon,
.shopping-process-container,
.header {
  color: var(--pink);
  height: var(--medium);
  cursor: pointer;
}

.shopping-process-container {
  height: var(--large);
}

.header {
  padding-right: 4px;
}
