.stock {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  animation: transitioning 1s forwards;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.icon {
  width: 0.4rem;
}

.icon.sold-out {
  color: var(--medium-red);
}

.icon.in-stock {
  color: var(--green);
}
