.right {
  position: sticky;
  /* width: calc(50% - 20px); */
  width: 540px;
  height: fit-content;
  top: 200px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 32px -12px,
    rgba(0, 0, 0, 0.3) 0px 6px 12px -18px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-sub-container,
.right-bottom-sub-container {
  display: flex;
  justify-content: space-between;
}

.right-bottom-sub-container {
  margin-bottom: 30px;
}

.no-decoration {
  text-decoration: none;
}
