.wrapper {
  display: flex;
  justify-content: space-between;
  animation: transitioning 1s forwards;
  gap: 2rem;
}

.column-form {
  display: flex;
  flex-direction: column;
  animation: transitioning 1s forwards;
}
