.bag {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  opacity: 0;
  animation: transitioning 1.6s forwards;
}

.bag-list {
  overflow-y: auto;
  height: 40vh;
}

.no-decoration {
  text-decoration: none;
  width: 100%;
  display: flex;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
