.main-header {
  grid-area: main-header;
  position: sticky;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  z-index: 100;
  background-color: var(--white);
  position: relative;
}

.select-language {
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 999999;
}

.nav {
  width: 100vw;
  padding: 0 2rem;
  position: absolute;
  bottom: 0.25rem;
}

.list {
  width: 100%;
  background-color: var(--white);
  display: flex;
  background-color: var(--white);
}

.list-item {
  display: flex;
}

.list-item:nth-last-of-type(2) {
  margin-left: auto;
}

.list-item:nth-last-of-type(3) {
  margin-left: 2rem;
}

@media (max-width: 701px) {
  .header {
    height: 4.6rem;
  }
}

@media (max-width: 701px) {
  .list-item:nth-last-of-type(1),
  .list-item:nth-last-of-type(3) {
    margin-left: 1rem;
  }

  .list-item:nth-last-of-type(3) {
    margin-left: 1rem;
  }
}
