.bag,
.shopping-process-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 30px;

}

.bag {
  overflow-y: auto;
  height: 40vh;
}

.wrapper {
  display: flex;
  gap: 30px;
}


.middle-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quantity {
  font-size: var(--medium);
}
