.mini-bag,
.shopping-process-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 30px;
}

.mini-bag {
  overflow-y: auto;
  height: calc(100vh - 280px);
}

.wrapper {
  display: flex;
  gap: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
