.button, .enabled, .disabled{
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 0px;
    background: none;
  }
  
  .enabled {
    color: var(--pink);
  }
  
  .disabled {
    color: var(--light-gray);
    cursor: not-allowed;
  }