.child-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: calc(50vw - 7rem);
  justify-content: space-between;
  height: fit-content;
  position: sticky;
  top: 8rem;
}

.wrapper {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 32px -12px,
    rgba(0, 0, 0, 0.3) 0px 6px 12px -18px;
  padding: 1.25rem;
}

@media (orientation: portrait) and (max-width: 1280px) {
  .child-wrapper {
    position: unset;
    width: calc(100vw - 2rem);
    gap: 1rem;
  }

  .child-wrapper:nth-child(1) {
    order: 1;
  }
}

@media (orientation: landscape) and (max-width: 1280px) {
  .child-wrapper {
    top: 5.6rem;
  }

}
