.child-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 33.9rem;
  justify-content: space-between;
  height: fit-content;
  position: sticky;
  top: 8rem;
}

.wrapper {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 32px -12px,
    rgba(0, 0, 0, 0.3) 0px 6px 12px -18px;
  padding: 1.25rem;
}

@media (max-width: 480px) {
  .child-wrapper {
    position: unset;
    width: 100%;
  }
}
