.content {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20vw;
  padding: 1rem;
  transition: opacity 0.4s ease, transform 0.4s ease;
  height: calc(100vh - 13.6rem);
  animation: transitioning 2s forwards;
}

.content.hovered {
  box-shadow: 0 0 0 1px var(--light-gray);
}

@media (orientation: landscape) and (min-width: 932px) and (max-width: 1366px) {
  .content {
    min-height: calc(600px + 2rem);
    width: calc(50% - 1rem);
  }
}

@media (orientation: landscape) and (min-width: 740px) and (max-width: 931px) {
  .content {
    min-height: calc(470px + 2rem);
    width: calc(50% - 1rem);
  }
}

@media (orientation: portrait) and (min-width: 360px) and (max-width: 739px) {
  .content {
    height: calc(100vh - 11.6rem);
    width: 100%;
  }
}

@media (orientation: portrait) and (min-width: 740px) and (max-width: 1024px) {
  .content {
    height: calc(512px + 2rem);
    width: calc(50% - 1rem);
  }
}
