.large-title, .address-book  {
  padding-bottom: 20px;
  text-decoration: none;
  font-size: var(--large);
  font-family: var(--bold-italic-font-family);
}

.address-book {
  border-bottom: .1px solid var(--gray);
  padding: 10px 20px 10px 20px;
}
