.selected,
.not-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  animation: transitioning 1s forwards;
}

.selected {
  text-decoration-color: var(--violet);
  text-underline-offset: 0.375rem;
  color: var(--gray);
}

.not-selected {
  text-decoration: none;
}

.icon {
  cursor: pointer;
  color: var(--pink);
  height: var(--medium);
  animation: transitioning 1s forwards;
}

.count {
  width: 3rem;
  padding-left: 0.25rem;
  animation: transitioning 1s forwards;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 675px) {
  .label {
    display: none;
  }

  .count {
    display: none;
  }
}


