.button {
  position: relative;
  padding: 22px;
  font-size: var(--medium);
  font-family: var(--bold-italic-font-family);
  border: none;
  cursor: pointer;
  overflow: hidden;
  background: var(--medium-pink);
  color: var(--white);
  outline: none;
  letter-spacing: 1.2px;
}

.button {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.price-span,
.text-span {
  position: absolute;
}
.price-span {
  left: 0;
  margin-left: 20px;
}

.text-span {
  right: 0;
  margin-right: 20px;
}

.button:hover {
  background: var(--pink);
}
