#collection {
  margin: 0;
}

.wrapper {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1280px) {
  #collection {
    height: auto;
  }

  .wrapper {
    gap: 2rem;
    margin: 1rem;
  }
}
