#collection {
  display: flex;
  min-height: calc(100vh - 17.5rem);
  align-items: center;
  margin: 2rem;
}

.wrapper {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 8rem;
  column-gap: 4rem; */
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
}

@media (max-width: 1280px) {
  #collection {
    margin: 1rem;
    /* height: auto; */
  }
  .wrapper {
    /* gap: 1rem; */

    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1043px) {
  .wrapper {
    /* gap: 1rem; */

    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 932px) {
  .wrapper {
    /* gap: 1rem; */

    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 723px) {
  .wrapper {
    /* gap: 1rem; */

    grid-template-columns: repeat(2, 1fr);
  }
}
