#collection {
  margin: 0;
  height: calc(100vh - 13.6rem);
}

.wrapper {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 360px) and (max-width: 603px) {
  #collection {
    height: auto;
  }

  .wrapper {
    row-gap: 2rem;
    margin: 1rem;
  }
}
