.update-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 4.5rem;
  cursor: pointer;
  font-size: var(--medium);
}

.enabled {
  color: var(--medium-pink);
}

.enabled:hover {
  color: var(--pink);
}

.disabled {
  color: var(--light-gray);
  cursor: default;
}

.button {
  all: unset;
  position: relative;
}

.updating {
  position: absolute;
  bottom: -1rem;
  left: 0;
  font-size: var(--small);
  color: var(--green);
}
