.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.update-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 5.5rem;
  cursor: pointer;
  font-size: var(--medium);
}

.enabled {
  color: var(--medium-pink);
}

.enabled:hover {
  color: var(--pink);
}

.disabled {
  color: var(--light-gray);
  cursor: default;
}

.button {
  all: unset;
}

.updating {
  font-size: var(--small);
  color: var(--green);
  display: flex;
  position: absolute;
  top: -1rem;
  left: auto;
}
