.link {
  text-decoration: none;
}

.gray {
  color: var(--gray);
}

.violet {
  color: var(--violet);
  font-family: var(--bold-font-family);
}

.gray,
.violet {
  animation: transitioning 1.6s forwards;
}

.violet:hover {
  color: var(--dark-violet);
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
