.link-to-account {
  display: flex;
  gap: 0.25rem;
}

.link {
  color: var(--violet);
  text-decoration: none;
  font-size: var(--normal);
  font-family: var(--bold-font-family);
}

.link:hover {
  color: var(--dark-violet);
}
