.jewelry-wrapper {
  margin: 40px 80px 40px 80px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.left-container {
  width: 40%;
  position: relative;
}

.right-container {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.description {
  margin-bottom: 30px;
}
