.wrapper {
  display: none;
}

@media (min-width: 904px) {
  .wrapper {
    display: flex;
    gap: 1rem;
  }
}

@media (orientation: portrait) and (max-width: 774px) {
  .wrapper {
    display: flex;
    gap: 1rem;
  }
}

@media (orientation: portrait) and (max-width: 695px) {
  .wrapper {
    display: none;
  }
}

@media (orientation: portrait) and (max-width: 675px) {
  .wrapper {
    display: flex;
    gap: 1rem;
  }
}

@media (orientation: portrait) and (max-width: 573px) {
  .wrapper {
    display: none;
  }
}
