.wrapper {
  display: none;
}



@media (min-width: 1058px) {
  .wrapper {
    display: flex;
    gap: 1rem;
  }
}

/* @media (orientation: portrait) and (max-width: 928px) {
  .wrapper {
    display: none;
  }
} */

/* @media (orientation: portrait) and (max-width: 928px) {
  .wrapper {
    display: flex;
    gap: 1rem;
  }
} */
