.wrapper {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.button {
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: relative;
  text-decoration: underline;
  background: none;
}
