.size-wrapper,
.radio-container,
.wrapper,
.label,
.error-message {
  display: flex;
}

.size-wrapper {
  flex-direction: column;
  gap: 0.5rem;
}

.radio-container {
  gap: 1rem;
}

.wrapper {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
}

.label,
.error-message {
  font-size: var(--normal);
}

.label {
  gap: 4px;
  box-shadow: 0 0 0 1px var(--medium-gray);
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  width: 5rem;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: var(--red);
  height: 2rem;
  align-items: center;
  font-size: var(--small);
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:not(:disabled) ~ label {
  cursor: pointer;
}

input[type="radio"]:not(:disabled) ~ label:hover {
  background: var(--very-light-gray);
}

input[type="radio"]:disabled ~ label {
  color: var(--medium-gray);
  border: 1px solid var(--light-gray);
  box-shadow: none;
  cursor: not-allowed;
  text-decoration: line-through;
  text-decoration-color: var(--light-gray);
}

@media (max-width: 453px) {
  .size-wrapper {
    align-items: flex-start;
  }

  .wrapper {
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
  }

  .radio-container {
    flex-direction: column;
  }

  .label {
    padding: 0.25rem 0;
  }
}
