.category-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
  padding: 1rem;
  transition: opacity 0.4s ease, transform 0.4s ease;
  height: calc(100vh - 13.6rem);
}

.category-card.hovered {
  box-shadow: 0 0 0 1px var(--light-gray);
}

.slide-in {
  animation: slideIn 0.4s forwards;
}

.slide-out {
  animation: slideOut 0.4s forwards;
}

@keyframes slideIn {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    right: 0;
    opacity: 1;
  }
  to {
    right: 100%;
    opacity: 0;
  }
}

@media (min-width: 360px) and (max-width: 1280px) {
  .category-card {
    height: 100%;
    width: 100%;
  }
}

@media (orientation: landscape) and (max-width: 1280px) {
  .category-card {
    height: calc(100vh - 8.6rem);
    width: 20vw;
  }
}
