.left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 62%;
  height: fit-content;  
}

.title {
  margin-bottom: 30px;
}

.child {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 32px -12px,
    rgba(0, 0, 0, 0.3) 0px 6px 12px -18px;
  padding: 20px;
}

.child:last-child {
  position: sticky;
  top: 200px;
}
