.paragraph {
  font-size: var(--normal);
  animation: transitioning 1s forwards;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.paragraph.left {
  text-align: left;
  margin-bottom: 1.5rem;
}

.paragraph.center {
  text-align: center;
  color: var(--white);
}

@media (max-width: 1280px) {
  .paragraph {
    font-size: var(--small);
  }
}
