.mini-header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 0 2rem;
  align-items: center;
  background-color: var(--white);
  z-index: 100;
  border-bottom: 0.1px solid var(--pink);
}

.wrapper {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.logo-image {
  height: 6rem;
}

.icon {
  color: var(--pink);
}


@media (max-width: 480px) {
  .mini-header {
    height: 4.6rem;
  }

  .logo-image {
    height: 4rem;
  }
}