.mini-header {
  grid-area: mini-header;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 0 2rem;
  align-items: center;
  background-color: var(--white);
  z-index: 100;
  border-bottom: 0.1px solid var(--pink);
  animation: transitioning 1s forwards;
  position: relative;
  height: 3rem;
  grid-area: unset;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.icon {
  color: var(--pink);
}
