.shopping-process-container {
  margin: 2rem 0;
  animation: transitioning 1.6s forwards;
  opacity: 0;
  min-height: calc(100vh - 14rem);
  max-width: 70.3rem;
  margin-left: auto;
  margin-right: auto;
}

.children {
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .shopping-process-container {
    margin: 1rem 0;
  }

  .children {
    margin: 1rem;
  }
}
