.shopping-process-container {
  margin: 2rem 6rem;
  animation: transitioning 1.6s forwards;
  opacity: 0;
  min-height: calc(100vh - 14rem);
  /* max-width: 70.3rem; */
}

.children {
  display: flex;
  /* justify-content: space-evenly; */
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.children.reversed {
  flex-direction: row-reverse;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 803px) {
  .shopping-process-container {
    margin: 1rem;
  }

  .children {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
