.shopping-process-container {
  margin: 2rem 6rem;
  min-height: calc(100vh - 14rem);
}

.children {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (max-width: 1057px) {
  .shopping-process-container {
    margin: 2rem 2rem;
  }
}

@media (max-width: 774px) {
  .shopping-process-container {
    margin: 2rem 6rem;
  }
}

@media (max-width: 574px) {
  .shopping-process-container {
    margin: 2rem 2rem;
  }
}

/* .children.reversed {
  flex-direction: row-reverse;
} */

/* @media (orientation: portrait) and (max-width: 1280px) {
  .shopping-process-container {
    margin: 1rem;
  }

  .children {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
} */
