.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray);
  border-top: 0.1px solid var(--pink);
}

@media (max-width: 380px) {
  .footer {
    font-size: var(--small);
  }
}
