.footer {
  grid-area: footer;
  /* height: 32px; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray);
  border-top: 0.1px solid var(--pink);
}

@media (max-width: 480px) {
  .footer {

    font-size: var(--small);
  }
}
