.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray);
  border-top: 0.1px solid var(--pink);
}

@media (min-width: 360px) and (max-width: 803px) {
  .footer {
    font-size: var(--small);
  }
}

@media (max-width: 360px) {
  .footer {
    text-align: center;
  }
}
