.jewelry {
  background-color: var(--very-light-gray);
  gap: 2rem;
  padding: 2rem;
}

.jewelry,
.empty {
  height: calc(100vh - 10rem);
}

.jewelry,
.image-container,
.info-and-action-container,
.content,
.wrapper,
.bottom {
  display: flex;
}

.jewelry,
.image-container {
  justify-content: center;
}

.info-and-action-container,
.content,
.wrapper,
.bottom,
.image-container {
  flex-direction: column;
}

.info-and-action-container,
.image-container {
  border-radius: 4rem;
  width: 50%;
  background-color: var(--white);
}

.image-container {
  padding-bottom: 1rem;
  align-items: center;
  position: relative;
}

.info-and-action-container {
  padding: 1.5rem;
  position: relative;
}

.content {
  justify-content: space-between;
  flex-grow: 1;
}

.mini-images {
  width: 12rem;
}

.wrapper {
  gap: 1.4rem;
}

.content.transitioning {
  animation: transitioning 10s forwards;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
