#jewelry {
  background-color: var(--very-light-gray);
  gap: 2rem;
  padding: 2rem;
}

#jewelry,
.image-container,
.info-and-action-container,
.wrapper,
.bottom {
  display: flex;
}

#jewelry,
.image-container {
  justify-content: center;
}

.info-and-action-container,
.wrapper,
.bottom,
.image-container {
  flex-direction: column;
}

.info-and-action-container,
.image-container {
  border-radius: 4rem;
  width: 50%;
  background-color: var(--white);
}

.image-container {
  padding-bottom: 1rem;
  align-items: center;
}

.info-and-action-container {
  padding: 2rem;
  justify-content: space-between;
}

.mini-images {
  width: 12rem;
}

.wrapper {
  gap: 2rem;
}

.bottom {
  gap: 0.8rem;
}
