#jewelry {
  display: flex;
  background-color: aliceblue;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem;
  background-color: var(--white);
  padding-bottom: 1rem;
  display: flex;
  width: calc(50vw - 3rem);
  /* height: calc(100vh - 180px); */

}

.image {
  width: 80%;
}

.info-and-action-container {
  display: grid;
  grid-template-rows: 100px 40px 100px 200px;
  margin: 2rem 0rem;
  background-color: var(--white);
  padding: 2rem;
  height: fit-content;
  width: calc(50vw - 3rem);
}

.mini-images {
  width: 12rem;
}
