.shopping-bag-process-container {
  margin: 40px 80px 40px 80px;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.delivery {
  display: flex;
  gap: 6px;
  align-items: center;
}

.delivery-span {
  font-size: var(--normal);
  color: var(--medium-gray);
  width: 60px;
  text-align: end;
}

.bottom {
  display: flex;
  gap: 30px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 60%;
}

.child {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 32px -12px,
  rgba(0, 0, 0, 0.3) 0px 6px 12px -18px;
  padding: 30px 30px 0px 30px;
}

.right {
  width: 40%;
  height: 300px;
  position: sticky;
  top: 200px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 32px -12px,
  rgba(0, 0, 0, 0.3) 0px 6px 12px -18px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-sub-container {
  display: flex;
  justify-content: space-between;
}
