.image-container {
  display: flex;
  justify-content: center;
  width: calc(50% - 1rem);
  background-color: var(--white);
  padding-bottom: 1rem;
  align-items: center;
  position: relative;
  flex-direction: column;
}

@media (min-width: 360px) and (max-width: 603px) {
  .image-container {
    width: 100%;
  }
}