.image-container {
  width: 33%;
  background-color: var(--white);
  border-radius: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .image-container {
    width: 100%;
  }
}
