.image {
  display: flex;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content {
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.slide-in {
  animation: slideIn 0.4s forwards;
}

.slide-out {
  animation: slideOut 0.4s forwards;
}

@keyframes slideIn {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    right: 0;
    opacity: 1;
  }
  to {
    right: 100%;
    opacity: 0;
  }
}
