.top-container {
  border: 0.1px solid var(--pink);
  height: 32vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-wrapper {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  cursor: pointer;
  justify-content: center;
}
