.text {
  position: absolute;
  color: var(--gray);
  background-color: var(--white);
  border: 0.1px solid var(--red);
  border-radius: 0.5rem;
  padding: 12px;
  text-align: center;
  font-size: 14px;
  z-index: 99999;
  top: -84px;
  left: 0;
  transition: transform 2s ease-in-out;
}
