.category-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 1rem;
}

.category-card.hovered {
  box-shadow: 0 0 0 1px var(--light-gray);
}

.circle-icons-container {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  margin-top: 2rem;
}
