.mini-image.center,
.mini-image.butterfly {
  width: 3rem;
}

.mini-image.butterfly {
  position: absolute;
  width: 6rem;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -4%);
  z-index: 20;
}

.wave-effect-1 {
  display: block;
  width: 300px;
  height: auto;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  animation: wave1 4s infinite linear;
}

@keyframes wave1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.wave-effect-butterfly {
  display: block;
  width: 300px;
  height: auto;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  animation: circular-wave 6s infinite ease-in-out;
}

@keyframes circular-wave {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
  25% {
    transform: translate(50px, -50px) rotate(45deg) scale(1.2);
  }
  50% {
    transform: translate(120px, 0) rotate(90deg) scale(1.4);
  }
  75% {
    transform: translate(50px, 50px) rotate(135deg) scale(1);
  }
  100% {
    transform: translate(0, 0) rotate(360deg) scale(1);
  }
}

@media (orientation: landscape) and (max-width: 844px) {
  .mini-image.center {
    display: none;
  }
}

@media (orientation: landscape) and (max-width: 932px) {
  .mini-image.butterfly {
    top: 20%;

    transform: translate(-50%, -20%);
  }
}
