.mini-image.center,
.mini-image.left,
.mini-image.right,
.mini-image.butterfly {
  width: 3rem;
}

.mini-image.center {
  /* margin-top: 1rem; */
}

.mini-image.left,
.mini-image.right,
.mini-image.butterfly {
  position: absolute;
}

.mini-image.left {
  top: -3rem;
  left: 100px;
}

.mini-image.right {
  top: -2rem;
  right: 100px;
}

.mini-image.butterfly {
  width: 5rem;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.wave-effect {
  display: block;
  width: 300px;
  height: auto;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.wave-effect-1 {
  animation: wave1 4s infinite linear;
}

@keyframes wave1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.wave-effect-2 {
  animation: wave2 3s infinite ease-in-out;
}

@keyframes wave2 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(-15px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.wave-effect-3 {
  animation: wave3 6s infinite ease;
}

@keyframes wave3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px) rotate(-2deg);
  }
  100% {
    transform: translateY(0);
  }
}

.wave-effect-butterfly {
  display: block;
  width: 300px;
  height: auto;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  animation: circular-wave 6s infinite ease-in-out;
}

@keyframes circular-wave {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
  25% {
    transform: translate(50px, -50px) rotate(45deg) scale(1.2);
  }
  50% {
    transform: translate(120px, 0) rotate(90deg) scale(1.4);
  }
  75% {
    transform: translate(50px, 50px) rotate(135deg) scale(1);
  }
  100% {
    transform: translate(0, 0) rotate(360deg) scale(1);
  }
}
