.mini-bag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.title {
  display: flex;
  align-items: center;
  gap: 4px;
}

.no-decoration {
  text-decoration: none;
}

.total-price-wrapper {
  display: flex;
  justify-content: space-between;
}
