.order-history-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
  border-bottom: 0.1px solid var(--pink);
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.order-info {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  width: 100%;
}

.jewelries {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  width: 100%;
}
