.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button-container {
  display: flex;
  /* width: 100%; */
  /* gap: 1rem; */
  justify-content: space-between;
}

.button-container.add-to-bag {
  width: 76%;
}

.button-container.add-to-wishlist {
  width: 22%;
}
