.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.button-container.add-to-bag {
  width: 76%;
}

.button-container.add-to-wishlist {
  width: 22%;
  font-size: var(--medium);
  cursor: pointer;
  padding: 0.75rem 2.25rem;
  justify-content: center;
  display: flex;
  transition: background-color 300ms linear, color 300ms, box-shadow 300ms;
  border-radius: 2rem;
  animation: transitioning 1s forwards;
  box-shadow: 0 0 0 1px var(--medium-pink);
}

.button-container.add-to-wishlist:hover {
  background: var(--very-light-pink);
}

@media (max-width: 357px) {
  .button-container.add-to-wishlist {
    width: unset;
    padding: 0.5rem 0.75rem;
    align-items: center;
  }
}
