.switch-language {
  position: absolute;
  top: 0.25rem;
  right: 2rem;
  z-index: 120;
  cursor: pointer;
  animation: transitioning 1s forwards;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.switch-language.to-the-left {
  display: flex;
  gap: 0.5rem;
  flex-direction: row-reverse;
}

.dropdown {
  display: flex;
  gap: 0.5rem;
  flex-direction: row-reverse;
  animation: transitioning 1s forwards;
}

.dropdown.to-the-bottom {
  flex-direction: column;
  margin-top: 0.25rem;
}

.slide-in {
  animation: slideIn 1s forwards;
}

.slide-out {
  animation: slideOut 1s forwards;
}

@keyframes slideIn {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    right: 0;
    opacity: 1;
  }
  to {
    right: 100%;
    opacity: 0;
  }
}


.thumbnail {
  width: 2.5rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}
