#wishlist {
  background-color: var(--very-light-gray);
  padding: 2rem;
  min-height: calc(100vh - 9.6rem);
}

.thumbnail {
  width: 6rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.ribbon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.outer-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

@media (max-width: 1400px) {
  .outer-wrapper {
    min-height: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 1040px) {
  .outer-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 680px) {
  .outer-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
