.payment-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
