.update-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 3rem;
}

.enabled {
  color: var(--pink);
}

.disabled {
  color: var(--light-gray);
}

.button {
  all: unset;
}
