.button,
.button-disabled {
  padding: 12px;
  font-size: var(--medium);
  font-family: var(--bold-italic-font-family);
  border: none;
  background: var(--medium-pink);
  overflow: hidden;
  color: var(--white);
  outline: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  cursor: pointer;
}

.button:hover {
  background: var(--pink);
}

.button-disabled {
  cursor: not-allowed;
}
