.bag-list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  animation: transitioning 1s forwards;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bag-list.mini {
  height: calc(100vh - 18rem);
  overflow-y: auto;
}

.wrapper {
  display: flex;
  gap: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.size {
  font-size: var(--normal);
}

@media (max-width: 360px) {
  .size {
    font-size: var(--small);
  }
}
