.bag-list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.bag-list.mini {
  height: calc(100vh - 18rem);
  overflow-y: auto;
}

.wrapper {
  display: flex;
  gap: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.size {
  font-size: var(--normal);
}

@media (max-width: 360px) {
  .size {
    font-size: var(--small);
  }
}
