#empty-bag {
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: transitioning 1.6s forwards;
  min-height: calc(100vh);
  background-color: var(--very-light-gray);
  padding: 2rem;
}

@keyframes transitioning {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
